<span class="block">

<%= render 'shared/basic_fields_for', {
        :model => @party.base_address.baseaddressize,
        :fields => [
                {:label => "Address:", :value => :address, :type_hash => {:type => :text}},
        ]
} %>
</span>
<br/>
