<h1>Edit Person</h1>
<%= render 'shared/basic_edit', {
        :model => @party.partyize,
        :fields => [
                {"Name:" => :name},
                {"Surname:" => :surname},
                {"Email:" => :email},
                {"Cell:" => :cell},
        ]
} %>
