<h1>New Person</h1>
<%= render 'shared/basic_form_for', {
        :model => @person, #need to specify maybe type here
        :button_text => "Create",
        :path => '/people',
        :fields => [
                {:label => "Name:", :value => :name, :type_hash => {:type => :text}},
                {:label => "Surname:", :value => :surname, :type_hash => {:type => :text}},
                {:label => "Email:", :value => :email, :type_hash => {:type => :text}},
                {:label => "Cell:", :value => :cell, :type_hash => {:type => :text}},
                {:label => "Gender:", :value => :gender, :type_hash => {:type => :combo, :options => Gender.values}},
        ]
} %>
