<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        Dashboard
      </h1>

      <% if same_user? @user %>
          <% if admin? %>
              <%= link_to "Users", users_path %>
              <br/>
          <% end %>
          <%= link_to "People", parties_path %>
          <br/>
          <%= link_to "Groups", groups_path %>
          <br/>
          <!--<%= link_to "Capture survey", "#" %>-->
      <% end %>

    </td>
    <!--<td class="sidebar round">-->
    <!--</td>-->
  </tr>
</table>
