<% def convert_bool(b)
    b ? "yes" : "no"
  end
%>
<table class="round">
  <% fields.each do |field| %>
      <tr>
        <% field.each do |key, value| %>
        <td class="formDescription">
          <%= key %>
        </td>
        <td>
          <%= value %>
        </td>
        <% end %>
      </tr>
  <% end %>
</table>
